*{
  margin: 0;
  padding:0;
}

html{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}


ul {
  width: 100%;
}
li {
  list-style: none;
  padding-bottom: 4px;
  border-bottom: 1px solid grey;
}

.menu-container,
.items-container,
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container{
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);
}

.items-container{
  width: 100%;
}

.item{
  justify-content: start;
  margin-top: 10px;
  gap: 8px;
}

.add-item-container > :first-child{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 10px;
}

.add-item-container > :first-child > *{
  text-align: center;
  height: 2rem;
  box-sizing: border-box;
  border: solid 1px grey;
  border-radius: 4px;
}




